

.leftSide{
	float: left;
	width: 50%;
}

.rightSide{
	float: right;
	width: 50%;
	/* padding-top: 4rem; */
}

.group::after{
	content: "";
	display: table;
	clear: both;
}

.group h3{
	padding-top: 5rem;
}

.leftSide img{
	max-width: 100%;
	height: auto;
}

.sideHeading, .sideText{
	text-align: center;
	color: black;
}

.sideHeading{
	font-size: 2.5rem;
}

.sideText{
	padding: .8rem 2rem;
	font-size: 1.1rem;
}

.buttonGroup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerBtn{
    margin-right: 1rem;
}

.buttonGroup button{
    border: 1px solid rgb(42, 74, 117);
    outline: none;
    background: white;
    padding: 1rem 1.2rem;
    border-radius: 5px;
    color: rgb(42, 74, 117);
}

.buttonGroup button:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(42, 74, 117);
}